body{
    background-color: rgba(0, 0, 0, 0.096);
    }
    h1{
        color:rgb(19, 224, 224)
        font-family:bisque ;
        background: ;
        }
        p{
            color:rgb(22, 22, 8) ;
            font-family:'Courier New', Courier, monospace ;
            font-size: ;
            background: ;
            }