body{
    background-color: black;
    }
    h1{
        color:azure
        font-family:bisque ;
        background: ;
        }
        p{
            color:beige ;
            font-family:'Courier New', Courier, monospace ;
            font-size: ;
            background: ;
            }